<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         metadata-complete="false">

	<servlet>
		<servlet-name>ipnServlet</servlet-name>
		<servlet-class>net.tarine.ibb.servlet.IpnServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>emailToImage</servlet-name>
		<servlet-class>net.tarine.ibb.servlet.EmailToImageServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ipnServlet</servlet-name>
		<url-pattern>/ipn</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>emailToImage</servlet-name>
		<url-pattern>/emailtoimage</url-pattern>
	</servlet-mapping>
	
</web-app>

